WebApplication2/Connected Services/dedicaciones/ServicioWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getMaterias">
        <s:complexType />
      </s:element>
      <s:element name="getMateriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMateriasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDedicaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="asignatura" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDedicacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDedicacionesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getMateriasSoapIn">
    <wsdl:part name="parameters" element="tns:getMaterias" />
  </wsdl:message>
  <wsdl:message name="getMateriasSoapOut">
    <wsdl:part name="parameters" element="tns:getMateriasResponse" />
  </wsdl:message>
  <wsdl:message name="getDedicacionesSoapIn">
    <wsdl:part name="parameters" element="tns:getDedicaciones" />
  </wsdl:message>
  <wsdl:message name="getDedicacionesSoapOut">
    <wsdl:part name="parameters" element="tns:getDedicacionesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioWebSoap">
    <wsdl:operation name="getMaterias">
      <wsdl:input message="tns:getMateriasSoapIn" />
      <wsdl:output message="tns:getMateriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDedicaciones">
      <wsdl:input message="tns:getDedicacionesSoapIn" />
      <wsdl:output message="tns:getDedicacionesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWebSoap" type="tns:ServicioWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMaterias">
      <soap:operation soapAction="http://tempuri.org/getMaterias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDedicaciones">
      <soap:operation soapAction="http://tempuri.org/getDedicaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWebSoap12" type="tns:ServicioWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMaterias">
      <soap12:operation soapAction="http://tempuri.org/getMaterias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDedicaciones">
      <soap12:operation soapAction="http://tempuri.org/getDedicaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWeb">
    <wsdl:port name="ServicioWebSoap" binding="tns:ServicioWebSoap">
      <soap:address location="https://webapplication320190430012032.azurewebsites.net/ServicioWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWebSoap12" binding="tns:ServicioWebSoap12">
      <soap12:address location="https://webapplication320190430012032.azurewebsites.net/ServicioWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>